.bienvenidos {
    background-image: url(../images/palmera.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.form-contact {
    background-color: #FFD1C8;
    margin: auto;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px;
    color: white;
    text-align: center;
}

.header {
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: #FFD1C8;
}

.contact {
    padding: .8rem;
    overflow: hidden;
    color: white;
}

.contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

.contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
}

.contact textarea {
    min-height: 100px;
}

input[type='submit'] {
    padding: 10px;
    border: none;
    color: gray;
    font-size: 20px;
    cursor: pointer;

}

.margen-form {
    padding: 10px;
}


@media screen and (max-width: 480px) {
    
    .menu {
        padding: 0%;
        margin: 0%;
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
         "inicio sobremi"
         "contacto destinos";

    }
    .inicio {
        grid-area: inicio;
    }
    .sobremi {
        grid-area: sobremi;
    }
    .contacto {
        grid-area: contacto;
    }
    .destinos{
        grid-area: destinos;
    }

    .center {
        display: flex;
        flex-direction: column;
    }
    .banner{
        height: 300px;
    }
}