/* *{margin: 0%; padding: 0%; box-sizing: border-box;}
* ::selection {
    color: #FFD1C8;
}
/* este es mi main */
/* .bienvenidos {
    background-image: url(../images/palmera.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.bg-light {
    grid-area: inicio;
    -webkit-animation:roll-in-left .6s ease-out both;animation:roll-in-left .6s ease-out both
    
}


@-webkit-keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}
.boton-paises{
    background-color: #FFD1C8;
    border: 0;
    color: white;
}


.boton-paises:hover{
    background-color:#FFD1C8 ;
}

.centrar{
    display: block;
    justify-content: center;
}




.center {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    color:#15CDCB;

    
}

.seguinos{
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
}

.redes-sociales-footer {
    width: 100%;
    height: auto;
    margin: auto;
    background:  #FFD1C8;
    padding: 20px 0px;

}

.redes-sociales-iconos ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.redes-sociales-iconos ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: gray;
}

.redes-sociales-iconos ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
}

.redes-sociales-iconos ul li a i {
    line-height: 50px;
} */




/* este es mi about me  */

/* .about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img {
    height: auto;
    width: 600px;
    max-width: 100%;
    padding: 40px;
   
}

.text {
    width: 550px;
    max-width: 100%;
    padding: 0px 10px;
}

.about-me {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #FFD1C8;
}


.content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width: 650px) {
    .about .content .img {
        margin-bottom: 35px;
        padding: 20px;
        
    
    }
}





@media screen and (max-width: 1180px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 2px;
    }

    .text {
        padding: 10px;
    }
} */


/* este es mi seccion comida  */
/* .food {
    width: 80%;
    height: 400px;
    display: grid;
    padding-top: 80px;
    padding-bottom: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "pais0 pais0"
    "pais1 pais2"
    "pais3 pais4"
    "pais5 pais6"
    ;
    gap: 4px;
    color: #15CDCB;
    
}


.country {
   
    border: 1px solid gray;

    
}

.pais0 {
    grid-area: pais0;
    background-color: #FFD1C8;
    color: white;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: large;
    
}
.pais1 {
    grid-area: pais1;
    background-color: white;
}.pais2 {
    grid-area: pais2;
    background-color: white;
}.pais3 {
    grid-area: pais3;
    background-color: white;
}
.pais4 {
    grid-area: pais4;
    background-color: white;
}.pais5 {
    grid-area: pais5;
    background-color: white;
}.pais6 {
    grid-area: pais6;
    background-color: white;
}

.food > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 480px) {
    
    .food {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
         "pais0"
         "pais1"
         "pais2"
         "pais3"
         "pais4"
         "pais5"
         "pais6";

    }
    .menu {
        padding: 0%;
        margin: 0%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
         "inicio sobremi"
         "contacto destinos";

    }

    .menu li {
        display: inline;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        margin: 50px;
        width: 140px;
        
    }
    .inicio {
        grid-area: inicio;
    }
    .sobremi {
        grid-area: sobremi;
    }
    .contacto {
        grid-area: contacto;
    }
    .destinos{
        grid-area: destinos;
    }
    
} */

/* esta es mi seccion contactos */
/* .bienvenidos {
    background-image: url(../images/palmera.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.form-contact {
    background-color: #FFD1C8;
    margin: auto;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px;
    color: white;
    text-align: center;
}

.header {
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: #FFD1C8;
}

.contact {
    padding: .8rem;
    overflow: hidden;
    color: white;
}

.contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

.contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
}

.contact textarea {
    min-height: 100px;
}

input[type='submit'] {
    padding: 10px;
    border: none;
    color: gray;
    font-size: 20px;
    cursor: pointer;

}

.margen-form {
    padding: 10px;
}


@media screen and (max-width: 480px) {
    
    .menu {
        padding: 0%;
        margin: 0%;
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
         "inicio sobremi"
         "contacto destinos";

    }
    .inicio {
        grid-area: inicio;
    }
    .sobremi {
        grid-area: sobremi;
    }
    .contacto {
        grid-area: contacto;
    }
    .destinos{
        grid-area: destinos;
    }

    .center {
        display: flex;
        flex-direction: column;
    }
    .banner{
        height: 300px;
    }
}

/* esta es mi seccion paises */
/* .bienvenidos {
    background-image: url(../images/palmera.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.paish2{
    color: #FFD1C8;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 40px;
    text-align: center;
}
.sub{
    background-color: #FFD1C8;
    color: #15CDCB;
    text-align: center;

}

@media screen and (max-width: 480px) {
    
    .menu {
        padding: 0%;
        margin: 0%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
         "inicio sobremi"
         "contacto destinos";

    }

    .menu li {
        display: inline;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        margin: 50px;
        width: 140px;
        
    }
    .inicio {
        grid-area: inicio;
    }
    .sobremi {
        grid-area: sobremi;
    }
    .contacto {
        grid-area: contacto;
    }
    .destinos{
        grid-area: destinos;
    }
} 
 */





