.bienvenidos {
    background-image: url(../images/palmera.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;


    .bg-light {
        grid-area: inicio;
        -webkit-animation:roll-in-left .6s ease-out both;animation:roll-in-left .6s ease-out both
        
    }
    @-webkit-keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}

}

.margen-form {
    padding: 10px;

    .form-contact {
        background-color: #FFD1C8;
        margin: auto;
        max-width: 600px;
        padding: 4.5em 3em;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px;
        color: white;
        text-align: center;

        .header {
            width: 100%;
            overflow: hidden;
            color: white;
            background-color: #FFD1C8;
        }
    }
    .contact {
        padding: .8rem;
        overflow: hidden;
        color: white;
    }
    
    .contact label, .contact input, .contact textarea {
        display: block;
        width: 100%;
        margin-bottom: 4px;
    }
    
    .contact input:not([type='submit']), .contact textarea {
        border: none;
        border-bottom: 2px solid;
        margin-bottom: 10px;
        font-size: 20px;
        outline: none;
        color: gray;
    }
    
    .contact textarea {
        min-height: 100px;
    }
    
    input[type='submit'] {
        padding: 10px;
        border: none;
        color: gray;
        font-size: 20px;
        cursor: pointer;
    
    }
}

.redes-sociales-footer {
    width: 100%;
    height: auto;
    margin: auto;
    background:  $maincolor;
    padding: 20px 0px;

}
.seguinos{
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
 
}
.redes-sociales-iconos ul {
    margin: 0px;
    padding: 0px;
    text-align: center;

    .redes-sociales-iconos ul li {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0px 10px;
        border-radius: 100%;
        background: gray;

        .redes-sociales-iconos ul li a {
            text-decoration: none;
            color: white;
            font-size: 25px;
            display: block;
            
            .redes-sociales-iconos ul li a i {
                line-height: 50px;
            }
        }


    }
}