.redes-sociales-footer {
    width: 100%;
    height: auto;
    margin: auto;
    background:  $maincolor;
    padding: 20px 0px;

}
.seguinos{
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
 
}




.redes-sociales-iconos  {
    ul{
        margin: 0px;
        padding: 0px;
        text-align: center;
        li{
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0px 10px;
            border-radius: 100%;
            background: gray;
            a{
                text-decoration: none;
                color: white;
                font-size: 25px;
                display: block;
                i{
                    line-height: 50px;
                }
            }
        }
    }
    
}