

.boton-paises{
    background-color: $maincolor;
    border: 0;
    color: white;


    .boton-paises:hover{
        background-color: $maincolor ;
    }

    .centrar{
        display: block;
        justify-content: center;
    }
}

.center {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    color:#15CDCB;
}


.redes-sociales-footer {
    width: 100%;
    height: auto;
    margin: auto;
    background:  $maincolor;
    padding: 20px 0px;

}
.seguinos{
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
 
}
