

.boton-paises{
    background-color: $maincolor;
    border: 0;
    color: white;


    .boton-paises:hover{
        background-color: $maincolor ;
    }

    .centrar{
        display: block;
        justify-content: center;
    }
}

.center {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    color:#15CDCB;
}


