
.paish2{
    color: #FFD1C8;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 40px;
    text-align: center;
}
.sub{
    background-color: #FFD1C8;
    color: #15CDCB;
    text-align: center;

}

