<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Belgica</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/paises.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Mochiy+Pop+One&display=swap" rel="stylesheet">  
</head>

<body>
<div class="container">
    <header class="banner">
        <nav class="nav">
            
                <ul class="menu">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../about.html">Sobre mi</a></li>
                    <li><a href="../contact.html">Contacto</a></li>
                    <li><a href="../destination.html">Destinos</a></li>
                </ul>
            
        </nav>
 
    </header>
    
    
    
      <div class="city">
            
        <div class="citylist">
            <ul>
                <li><a href="#">Bruselas</a></li>
                <li><a href="#">Gante</a></li>
                <li><a href="#">Brujas</a></li>
                <li><a href="#">Amberes</a></li>
            </ul>
        </div>
   
      </div>   
      
    

    
     <!-- aca poner lo de los Belgica -->
    <div class="titulopais">
        <h2 class="paish2"> Bruselas</h2>
        <p> Es la capital de Bélgica, tiene muchas cosas lindas para hacer y ver. Pero en mi opinión no es la ciudad mas linda que tiene Bélgica. A continuación les dejo las mejores cosas que hacer en Bruselas. </p>
    </div>
    <div class="sub">
        <h3 class="sub.pais">10 LUGARES QUE VER EN BRUSELAS IMPRESCINDIBLES</h3>
    </div>
    <div class="textcity">
        <div>
            <h4>1. La Catedral de San Miguel y Santa Gúdula</h4>
            <p>Esta Catedral se construyó entre el siglo XIII y el siglo XV, es de estilo gótico y una de las más importantes de Bélgica.
                Por dentro es muy muy linda destacándose unas vidrieras muy grandes con colores divinos. Allí se casaron los actuales reyes, Felipe y Matilde, y por supuesto el Rey Balduino y su esposa española Fabiola de Mora y Aragón. 
                
                💰La entrada a la catedral es gratuita pero para ver el Tesoro hay que pagar 2 euros y para ver la Cripta 3 euros.
                
                ⏰ Todos los días de lunes a viernes de 07:30h a 18h; sábados de 07:30h a 15:30h y domingos de 14h a 18h.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>2. Jeanneke Pis</h4>
            <p>Esta es la versión femenina que en mi opinión es más linda que Manneken pis porque es más grande y se aprecia mejor, fue construida por encargo del dueño de un restaurante.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>3. Manneken Pis</h4>
            <p>El Manneken Pis es uno de los principales atractivos turísticos de la ciudad.
                Sinceramente me desilusioné un poco con esto, porque sinceramente pensé que sería un poco más grande ya que es bastante pequeño. Algo curioso es que visten al niño con diferentes outfits dependiendo lo época. 
                
                Y les recomiendo es que en la misma calle en donde está hay muchos puestitos de waffles que son riquísimos y de hecho hay uno de los locales que tiene a Manneken pis en versión más grande y se aprecia mucho más.
                
                Por último hay otra escultura pero el perro que mea, Zinneke pis que a diferencia de las otras, este lo puedes tocar, es decir no tiene rejas ni nada.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>4. Palacio de la Justicia.</h4>
            <p>Después de visitar Manneken Pis, te recomiendo bajar hasta el Palacio de la Justicia.
                Este palacio que fue, durante algún tiempo, el edificio más grande del Europa gracias a sus 26.000 metros cuadrados y 104 metros de altura, 
                💰 La entrada es gratuita
                ⏰ De lunes a viernes de 8h a 17h.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>5. Grand Place</h4>
            <p>Uno de los lugares más lindos de Bruselas, Patrimonio de la Humanidad de la Unesco y un lugar en donde te cansaras de sacarte fotos desde todos los ángulos ya que en cada rincón tenés un edificio con estructuras impresionantes.

                Si te apasionan las fotos como a mi te recomiendo ir en plena luz del día y luego a la nochecita que iluminan todo y es hermoso.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>6. El barrio del Sablon</h4>
            <p>Es uno de los barrios más interesantes y lindos de Bruselas, te encontrarás con tiendas de precios altos y las capillas de estilo barroco en su interior son realmente hermosas.

                Un punto muy interesante es la Iglesia de Notre Dame du Sablon que es considerada una de las iglesias góticas más lindas de Bélgica.
                
                En esta zona también hay barcitos en donde puedes probar comida típica Belga.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>7. El Mont des Arts</h4>
            <p>Mont des Arts tiene una vista perfecta de la torre del ayuntamiento, de hecho en mi opinión es lo más destacable de este lugar.

                Es ideal para sacarse unas lindas fotos y apreciar el hermoso jardín que tiene.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>8. Ruta del cómic</h4>
            <p>Los comics forman parte de la cultura en Bélgica, ¿sabías que el escritor de Los pitufos nació acá?

                Un plan perfecto si sos fantico/a de los cómics es hacer un recorrido urbano caminando por los principales murales  de la ciudad ya que hay más de 50.
                
                Hay más de una ruta del cómic, en concreto tres: una por el centro, una por el barrio de Sablon/Marolles y una en las afueras, en los barrios de Laeken/Heysel </p>
                <img src="" alt="">
        </div>
        <div>
            <h4>9. El Atomium</h4>
            <p>Tengan en cuenta que está a las afueras de la ciudad.

                Cuenta con nueve bolas de acero y sus más de 100 metros de altura, representa un representa un átomo de hierro.Fue construido para la Expo de 1958, pero gustó tanto que acabó quedándose para siempre.
                
                Hoy, cuatro de sus esferas funcionan como museo, otra como aula de actividades para niños. La superior, además, es un restaurante.
                
                Si estás con tiempo te recomiendo que la visites ya que es algo típico de Bruselas pero sino la verdad es que para mi no es algo wow que valga la pena, se que hay mucha gente que le encanto, pero en mi opinión fui con las expectativas muy altas y no fue algo que me deslumbró.
                
                ⏰ Todos los días, de 10 a 18 horas
                
                💰 16 euros para adultos. Niños, estudiantes y jubilados tienen descuento</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>10. Conocer otras ciudades</h4>
            <p> Ahora ya comentarles un poco más sobre MI opinión de Bruselas, sinceramente yo esperaba un poco más de la capital, hay varias cositas que no me gustaron mucho pero si les recomiendo que visiten si o si, la ciudad de Brujas, Amberes y Gante. Son entre sí muy distintas y cada una de ellas tiene algo que las destaca. No puedes ir a Bélgica sin conocer estas ciudades y mis dos favoritas son BRUJAS y GANTE</p>
                <img src="" alt="">
        </div>


    </div>
    <div class="titulopais">
        <h2 class="paish2"> Gante</h2>
        <p>Esta ciudad me encanto. Siento que es una ciudad con alma de pueblo, es decir tiene muchas cosas para hacer, muchas tiendas de ropa, restaurantes etc es decir mucho movimiento pero no se pierde nunca esa tranquilidad como pasa en los pueblos tal vez y también sumando la amabilidad de la gente que vive allí. Esta es mi ciudad favorita de Bélgica junto con Brujas. A continuación les dejo las mejores cosas que hacer en Gante</p>
    </div>
    <div class="sub">
        <h3 class="sub.pais">10 LUGARES QUE VER EN GANTE IMPRESCINDIBLES</h3>
    </div>
    <div class="textcity">
        <div>
            <h4>1. Puente de San Miguel</h4>
            <p>El Puente de San Miguel, está situado sobre el río Leie, este fue sin dudas mi lugar favorito de Gante y si amas sacarse fotos como yo lo vas a amar porque tiene unas vistas INCREÍBLES.

                Recomiendo ir en el atardecer donde todavía hay luz y si vas en época primavera verano también quedarse hasta la nochecita con el cielo azul que es de suenos.
                
                Desde el puente podrás ver, las preciosas fachadas de ambas orillas, las torres medievales y los barcos navegando por el canal una hermosura.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>2. Castillo de los Condes de Flandes </h4>
            <p>Nosotros estábamos hospedados a una cuadra del Castillo y es tan imponente al verlo que pasamos cada día por ahí y nos llamaba la atención una y otra vez. No puedes dejar de visitar este castillo que además tiene de beneficio que está en el centro de la ciudad.

                Además de su espectacular exterior puedes entrar en el castillo para ver la antigua Sala de Torturas y subir a la Torre del Homenaje, donde hay unas fantásticas panorámicas de Gante.
                
                ⏰ Abierto todos los días, de 10 a 18 hs (de 9 a 17 en invierno)
                
                💰 Cuesta 12 euros. Gratis para menores de 12 años </p>
                <img src="" alt="">
        </div>
        <div>
            <h4>3. Torre Belfort</h4>
            <p>El belfort de Gante se construyó en el siglo XIV y, con más de 90 metros de altura, es el más alto de Bélgica.

                Lo más destacado de la torre son las impresionantes vistas panorámicas de 360 grados que se obtienen desde el último piso. Desde ella se daban avisos a la población tanto en festejos como, sobre todo, en tiempos de guerra.
                
                ⏰ Abierto todos los días de 10 a 18 hs
                
                💰 Cuesta 8 €</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>4. Korenmarkt</h4>
            <p>Esta plaza está situada en pleno centro histórico.

                Antiguamente, esta plaza tenía un gran movimiento comercial ya que estaba ubicado el mercado de trigo, y hoy en día es fundamental sentarse en uno de sus barcitos, comer algo rico y si te gusta la cerveza sentarse a tomar una. Yo como buena amante de las papas me compre un cono y las comí mientras caminaba y exploraba esta hermosa plaza.
                
                Ahí mismo vas a ver un edificio neogótico de la antigua oficina de correos que llamó mucho mi atención, fue construido a principios del siglo XX, y tiene una torre de más de 50 metros de altura.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>5. Iglesia de San Nicolás</h4>
            <p>La iglesia de San Nicolás fue construida en el siglo XIII .
                Su fachada es de piedra, se destaca por su campanario y su forma. Nosotros entramos rápido y creo que no se destaca mucho por su interior sino más por su fachada. Pero la entrada es gratuita así que pueden entrar y apreciar un poco su interior.
                ⏰ Abierto de martes a domingo de 10h a 17h. Los lunes no abren hasta las 14h.
                💰 Gratis </p>
                <img src="" alt="">
        </div>
        <div>
            <h4>6. Catedral de San Bavón</h4>
            <p>Es un edificio gótico del siglo XV. Dedicada al santo patrón de la ciudad, San Bavón.

                Lo que más destaca en la catedral es el famosísimo retablo de la Adoración del Cordero Místico. Fue pintado por los hermanos van Eyck y sigue siendo uno de los principales lugares que ver en Gante.
                
                ⏰ Abierto de lunes a sábado de 8:30h a 18h. Domingos empieza a la 13h.
                
                💰Entrada gratuita de 8:30 a 18:00 (en verano) y 8:30 a 17:00 (en invierno). Para ver El Cordero místico hay que pagar 12,5 euros (nada si llevamos la CityCard Gent)</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>7. Ayuntamiento de Gante</h4>
            <p>El ayuntamiento de Gante está situado en el centro histórico, cuenta con diferentes estilos arquitectónicos debido a sus más de cuatro siglos de construcción. Este edificio ocupa una manzana. En el interior, podrás ver varias salas, como la Sala de la Pacificación, la sala del Arsenal, la Sala del Trono y la capilla de bodas.

                ⏰ Abierto de lunes a viernes de 8h a 17h. Sábados abren hasta las 12h.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>8. Barrio de Patershol</h4>
            <p>Es uno de los barrios más bonitos de Gante que mantiene el estilo medieval en sus calles adoquinadas rodeadas de antiguas casas de ladrillo. Caminando por esas calles te sientes en una película antigua. Allí mismo se encuentra la Casa de Alijn, un museo gratuito que recrea una casa donde puedes dar un repaso a la forma de vida cotidiana del siglo XX.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>9. Comer unas buenas papas fritas.</h4>
            <p>¿Por qué lo pongo como un punto importante? Aquí probé las mejores papas fritas con una salsa riquísima (el nombre era Joopie), yo como dije anteriormente soy fan de las papas fritas y qué mejor que probar en Bélgica que es donde se originaron las papas fritas baston (Disputa a resolver con Francia que ellos dicen que fueron los pioneros)</p>
                <img src="" alt="">
        </div>
        <div>
            <h4></h4>
            <p></p>
                <img src="" alt="">
        </div>
        

    </div>
</div>
<footer>
    <div class="redes-sociales-footer margen">
        <h3 class="seguinos">Siguenos</h3>
        <div class="redes-sociales-iconos">
            <ul>
                <li><a href="https://www.facebook.com/denise.garraza" target="white"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/denisegarraza/" target="black"><i
                        class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>

</body>

</html>
