<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/comida.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Mochiy+Pop+One&display=swap" rel="stylesheet">  
    <title>Donde comer?</title>
</head>
<body>

    <header class="banner">
        <nav class="nav">
            
                <ul class="menu">
                    <li class="inicio"><a href=".././../index.html">Inicio</a></li>
                    <li class="sobremi"><a href="../about.html">Sobre mi</a></li>
                    <li class="contacto"><a href="../contact.html">Contacto</a></li>
                    <li class="destinos"><a href="../destination.html">Destinos</a></li>
                </ul>
           
        </nav>
 
    </header>
    



    <div class="food">
        <div class="country pais0">Donde comer en</div>
        <div class="country pais1">Polonia</div>
        <div class="country pais2">Belgica</div>
        <div class="country pais3">Escocia</div>
        <div class="country pais4">Dinamarca</div>
        <div class="country pais5">Croacia</div>
        <div class="country pais6">Inglaterra</div>

    </div>=



    <footer>
        <div class="redes-sociales-footer margen">
            <h3 class="seguinos">Siguenos</h3>
            <div class="redes-sociales-iconos">
                <ul>
                    <li><a href="https://www.facebook.com/denise.garraza" target="white"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/denisegarraza/" target="black"><i
                            class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>