<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Escocia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Mochiy+Pop+One&display=swap" rel="stylesheet">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/paises.css">
    <link rel="stylesheet" href="../static/css/main.css">  


</head>

<body>
 <div class="container">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./templates/about.html">Sobre mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./templates/destination.html">Destinos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./templates/contact.html">Contacto</a>
              </li>
             
            </ul>
          </div>
        </div>
    </nav>
   
    <div class="city">  
        <div class="citylist">
            <ul>
                <li><a href="#">Edimburgo</a></li>
                <li><a href="#">Glasgow</a></li>
            </ul>
        </div>
   
    </div>
   
    <div class="titulopais">
        <h2 class="paish2"> Edimburgo</h2>
        <p>Estuve en Escocia por un mes así que pude conocer Edimburgo completo y la realidad es que me enamoré de este hermoso país, es lindo de punta a punta. Te sientes constantemente en una película. Es hermosa por donde la mires, la gente es muy cálida, es un intermedio entre algo movido y a la vez tranquilo. Para mí es Perfecta y por supuesto acá les voy a dejar 10 cosas imprescindibles que tienes que conocer.</p>
    </div>
    <div class="sub">
        <h3 class="sub.pais">10 LUGARES QUE VER EN EDIMBURGO IMPRESCINDIBLES</h3>
    </div>
    <div class="textcity">
        <div>
            <h4>1. Dean Village</h4>
            <p>Puedes llegar hasta aquí caminando desde el centro de la ciudad a 15 min aproximadamente, es un lugar encantador, realmente caminar por ahí es un sueño, me acuerdo cuando estaba caminando por ahí no podía creer lo hermoso que era una combinación de vegetación con casas de piedras y un ambiente muy tranquilo.

                Es un antiguo pueblo de molineros construido a orillas del río Leith si van a Edimburgo tienen que conocer esta maravilla. De todos los lugares que conocí de Edimburgo este es uno de mis favoritos sin dudas.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>2. Castillo de Edimburgo</h4>
            <p>El imponente castillo de Edimburgo es un símbolo de esta hermosa ciudad con mucha historia que conocer. Se encuentra sobre una roca volcánica .Fue construido en el siglo XII y considerado como uno de los castillos más impresionantes de Escocia.

                Puedes visitar el interior en donde hay muchas exposiciones increíbles, como ejemplo en un lugar mostraban las joyas de la corona, en otro como eran las cárceles de ese momento, armas de guerra etc Yo cuando fui era en invierno y no tuve que hacer nada de cola, simplemente saque el turno online y fui al rededor de las 11 am ya que a las 13 suena el cañón y es algo que no se pueden perder. ¿Qué es el cañón? 
                
                Cada día, se dispara a las 13:00 horas (con excepción de los domingos, el Viernes Santo y el día de Navidad) La idea de este cañón que indica la hora fue de John Hewitt, para servir como señal visual a los barcos que navegaban por el Estuario del Forth. La propuesta de Hewitt de complementar esta señal visual con una auditiva se aceptó y en junio de 1861 se efectuó el primer disparo desde el Castillo de Edimburgo. Desde entonces se ha seguido disparando de forma ininterrumpida, excepto durante algunos periodos durante las dos Guerras Mundiales. La pieza de artillería actual es un cañón de campaña de 105 mm que se instaló en 2001.
                
                ⏰ Todos los días de 9:30h a 18h de abril a septiembre; el resto de meses cierra una hora antes.
                
                💰La entrada cuesta alrededor de 18 libras</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>3. Calton Hill</h4>
            <p>Acá nos encontramos con la foto típica que conocemos cuando hablamos de Edimburgo. Allí encontrarás las mejores vistas de la ciudad. El camino no es muy difícil, es un poco empinado pero es muy agradable ya que vas disfrutando del camino con sus vistas y ya desde arriba podrás disfrutar de las vistas increíbles .También descubrirás varios monumentos, como el Monumento a Dugald Stewart y el Monumento a Nelson.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>4. Catedral de St Giles</h4>
            <p>Es el edificio más antiguo de Edimburgo.Construida en el siglo XII, fue reconstruida en el siglo XV tras el incendio que asoló la ciudad en 1385. Tiene una arquitectura escocesa increíble, tomense un tiempo para apreciar esta hermosa catedral y tomarse unas fotos fantásticas. Un dato importante es que la entrada es gratis así que les recomiendo que entren y aprecien lo hermosa que es.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>5. Palacio de Holyrood</h4>
            <p>Este palacio del siglo XII, residencia oficial de la Reina de Inglaterra cuando visita Escocia. Está situado frente al Castillo de Edimburgo. En su interior por supuesto que está todo decorado, es realmente una belleza.

                Les aconsejo adquirir la tarjeta Royal Edinburgh ticket, que incluye el bus turístico y las entradas a las principales atracciones de Edimburgo.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>6. El Jardín Botánico Real</h4>
            <p>Si bien no es uno de los primeros planes que se suelen hacer para mi este es un planazo. Me encanto el jardín Botánico. Es muy grande así que resérvate unas 2 horas aproximadamente para recorrerlo.

                Cuenta con unos magníficos invernaderos victorianos, una amplísima colección de flores y plantas de todo el mundo y un jardín de rocas con varios reconocimientos internacionales. Yo me gasté toda la memoria del celular sacando fotos porque en lo personal me encanto</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>7. El national museum of Scotland </h4>
            <p>Voy a arrancar reconociendo que no soy fan fan de los museos pero este me encanto, ya que es muy grande y tiene cosas muy muy interesantes y ni hablar de que es gratis.

                Cuenta con 7 plantas por lo cual prepárate para recorrer y explorar cada espacio. Y lo mejor para el final que es una terraza con vistas a la ciudad.
                
                ⏰ Todos los días de 10h a 17h.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>8. Visitar el Monumento a Scott</h4>
            <p>Este monumento está situado en Princess Street, tiene un gran tamaño de 61 metros. Se inauguró en 1846 en honor al famoso escritor escocés Sir Walter Scott. Es hermoso para tomarse muy lindas fotos, a su alrededor hay un jardín chiquito muy buen cuidado.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>9. Royal Mile, Victoria st, St Princess st y sus jardines.</h4>
            <p>Royal Mile
                Es una de las calles más importantes de Edimburgo en donde se une el Castillo con el Palacio que mencionamos anteriormente. Es una calle muy larga, y cuenta con muchos monumentos, museos y atracciones. Aquí encontrarás artistas callejeros, tiendas de souvenir, barcitos para comer y muchas buenas vibras. Es muy lindo caminar a modo paseo y disfrutar cada rinconcito como los callejones medievales que te encontrarás en el camino. <br> <br> Victoria st
                Aquí nos encontramos con una calle llena de vida y color por sus fachadas de colores que sin dudas es uno de los lugares más fotografiados por turistas.
                Caminando por esta calle te encontrarás con algunas tiendas de Harry Potter ya que dicen que J.K. Rowling se inspiró en Victoria St para crear el callejón Diagón) <br><br> Princes Street
                Esta es la avenida principal de la parte nueva de Edimburgo (New Town). Situada al pie de la colina del Castillo, Princess Street es la principal calle comercial de Edimburgo.
                
                Lo más atractivo en mi opinión de esta calle es sus jardines que están al costado. Es ideal para dar un paseo en verano, tomar un helado y en invierno un rico café disfrutando del hermoso paisaje que tiene.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>10. Cementerio Greyfriars</h4>
            <p>Este es uno de los lugares que todos te dicen no podes irte de Edimburgo sin conocerlo y en mi opinión la verdad no me parece demasiado interesante pero por supuesto les voy a dejar la info por si quieren ir lo hagan y sepan un poquito. Se dice que este cementerio escocés es el cementerio mas embrujado del mundo.
                Allí mismo se encuentra la tumba de John Gray  era un policía de Edimburgo que tenía de mascota a Bobby,cuando John muere, Bobby no se movió de la tumba de su dueño nunca más… permaneció 14 años allí hasta que falleció, también de viejo.
               
               Bobby se hizo muy famoso y querido en Edimburgo, que hicieron una estatua suya, para fotografiarte con él. </p>
                <img src="" alt="">
        </div>
        

    </div>
   
   
   
   
    <!-- aca poner lo de los Escocia -->
   
 </div>
 <footer>
    <div class="redes-sociales-footer margen">
        <h3 class="seguinos">Siguenos</h3>
        <div class="redes-sociales-iconos">
            <ul>
                <li><a href="https://www.facebook.com/denise.garraza" target="white"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/denisegarraza/" target="black"><i
                        class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
 </footer>

</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> 



</html>
