<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Polonia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Mochiy+Pop+One&display=swap" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/estilo.css">
 
 

</head>

<body>
 <div class="container">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../about.html">Sobre mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../destination.html">Destinos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../contact.html">Contacto</a>
              </li>
             
            </ul>
          </div>
        </div>
    </nav>
    <section class="bienvenidos d-flex justify-content-center align-items-center">
        <h1 class="bg-light p-2">Bienvenidos</h1>
    </section>
   
    <div class="city">
            
        <div class="citylist">
            <ul>
                <li><a href="#">Varsovia</a></li>
                <li><a href="#">Cracovia</a></li>
                <li><a href="#">Wroclaw</a></li>
            </ul>
        </div>
   
    </div>
   
    <div class="titulopais">
        <h2 class="paish2">Cracovia</h2>
        <p>Esta ciudad es rica en cultura e historia, tiene una arquitectura hermosa, es súper económica y es divertida.Unas de las ciudades más grandes, antiguas e importantes del país. Cracovia también tiene lugares interesantes y clave para visitar cerca, uno de ellos es el difícil de digerir pero que no se puede pasar por alto, Auschwitz. A continuación les dejo  las mejores cosas que hacer en Cracovia.</p>
    </div>
    <div class="sub">
        <h3 class="sub.pais">10 LUGARES QUE VER EN CRACOVIA IMPRESCINDIBLES</h3>
    </div>
    <div class="textcity">
        <div>
            <h4>1. Plaza del Mercado</h4>
            <p>En esta plaza rodeada de coloristas palacios y casas de aspecto medieval podrás encontrar: <br> La Basílica de Santa María. <br> La Lonja de Paños <br>La Iglesia de San Adalberto La <br>Torre del Antiguo Ayuntamiento <br>Podrás reservar los tour gratuitos en español para conocer más de la ciudad.
                <br> ⏰ Horario de visita de la Basílica de Santa María: de lunes a sábado de 11:30h a 18h y domingos de 14h a 18</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>2. Planty</h4>
            <p>Es un parque hermoso de forma circular que rodea el casco antiguo de Cracovia. Este parque fue consecuencia luego de que se derribaran casi todas las murallas que rodeaban la ciudad medieval de Cracovia.

                Creo que este parque es un lugar precioso para ir a comer un sándwich al paso, mientras disfrutas el ruido de los pájaros y respiras aire puro de la naturaleza, dar un paseo o leer algo de tu agrado</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>3. Barbacana</h4>
            <p>La Barbacana, construida en 1499, una estructura cilíndrica rodeada por un foso que servía como para entrar en la ciudad. Esta estructura tenía unos pequeños huecos desde donde se disparaban flechas sin poder ser alcanzados por el enemigo.

                Situada en la zona norte del casco antiguo de Cracovia. Por dentro no dice mucho pero por fuera tiene una fachada muy bonita para tomar unas lindas fotos.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>4. Castillo de Wawel</h4>
            <p>El castillo es una de las principales atracciones de Cracovia y su visita no puede pasarse por alto. Fue construido en el siglo XIV por orden del rey polaco Casimiro III el Grande. Está considerado, dentro de la categoría «centro histórico de Cracovia».

                El Castillo de Wawel es bastante grande en donde hay varios lugares que conocer.</p>
                <ul>
                    <li>Catedral de Wawel: Reconstruida en el siglo XIV. </li>
                    <li>Museo Catedralicio Juan Pablo II: Inaugurado en 1978 por Karol Wojtyla</li>
                    <li>Cueva del Dragón: Conocida en toda Polonia, según la leyenda esta cueva fue el lugar en que vivió el Dragón de Wawel. </li>
                    <li>Palacio Real: fue construido en el siglo XI </li>
                </ul>
                <p>⏰ Horarios de visita de 9:30 a 16:00 o 17:00 horas (Puede variar dependiendo la zona del castillo)</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>5. Barrio judío de Cracovia </h4>
            <p>El antiguo barrio judío esta a pocos minutos caminando del casco antiguo y sin dudas que es algo clave de conocer. Este barrio del siglo XIV quedó abandonado durante la ocupación nazi por el traslado de la población judía al gueto unos de los lugares que ver aquí es algunas de sus sinagogas e iglesias en el barrio que recomiendo visitar también.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>6. Puerta Florián</h4>
            <p>La Puerta de Florián era la entrada a la ciudad medieval amurallada.Construida en el siglo XIII como parte de la Muralla de Cracovia, es uno de los pocos restos que se conservan.

                Allí mismo se encuentra el Camino Real, un camino que recorrían los antiguos reyes antes de ser coronados en donde finaliza con el Castillo de Wawel.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>7. La Fábrica de Oskar Schindler</h4>
            <p>Este lugar realmente vale la pena visitar por toda la historia que hay detrás.

                Oskar Schindler fue un alemán militante del Partido Nazi que al descubrir las atrocidades a las que fueron sometidos los judíos consiguió salvar a más de mil de sus trabajadores judíos que con el pretexto de darles empleo les salvaba la vida. Hoy en día se convirtió en un museo y la entrada es de 6 Euros aproximadamente. <br> ⏰ Horarios de visita de 10 a 19:00 horas </p>
                <img src="" alt="">
        </div>
        <div>
            <h4>8. Collegium Maius</h4>
            <p>El Collegium Maius es el edificio universitario más antiguo de Polonia y entre sus estudiantes más populares tuvo la fortuna de contar con Nicolás Copérnico, el astrónomo más famoso de la historia.Algo muy lindo de aquí es su antiguo reloj que se encuentra en el patio, en el que cada dos horas tiene lugar un peculiar desfile de tallas de madera acompañado por una agradable melodía.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>9. Campo de concentración de Auschwitz-Birkenau</h4>
            <p>Este queda en los alrededores de Cracovia pero sin dudas no puedes dejar de ir.

                En este lugar con varios campos de concentración, murieron más de un millón de personas entre 1940 y 1945. En 1979 se decidió crear el museo Auschwitz-Birkenau, que comprende los campos de Auschwitz y Auschwitz-Birkenau.
                
                En este caso les recomiendo hacerlo con visita guiada para que les cuenten con detalles bien todo.
                
                Puedes ir en bus desde Cracovia y algo muy importante a tener en cuenta es que solo se permite la visita sin guía al campo antes de las 10 de la mañana y después de las 4 de la tarde.</p>
                <img src="" alt="">
        </div>
        <div>
            <h4>10. Minas de sal de Wieliczka</h4>
            <p>Las minas de Sal de Wieliczka es otra recomendación de visitar a los alrededores de Cracovia

                Estas minas de sal son las más antiguas de Europa y cuentan con más de 3 kilómetros de longitud entre salas, túneles y galerías.
                
                Yo en mi experiencia no la pase muy bien ya que soy un poco claustrofóbica  ya que se realiza a más de 300 metros de profundidad, se bajan más de 700 escaleras pero luego subimos en ascensor. Sin dudas es un lugar increíble pero si sufres claustrofobia no te lo recomiendo.</p>
                <img src="" alt="">
        </div>

    </div>
   
   
   
   
   
   
    <!-- aca poner lo de los Polonia -->
   
 </div>
 <footer>
    <div class="redes-sociales-footer margen">
        <h3 class="seguinos">Siguenos</h3>
        <div class="redes-sociales-iconos">
            <ul>
                <li><a href="https://www.facebook.com/denise.garraza" target="white"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/denisegarraza/" target="black"><i
                        class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
 </footer>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> 

</body>

</html>



</html>
