<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="../static/css/aboutme.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div>
    <header class="banner">
        <nav class="nav">
            
                <ul class="menu">
                    <li class="inicio"><a href="../index.html">Inicio</a></li>
                    <li class="sobremi"><a href="./about.html">Sobre mi</a></li>
                    <li class="contacto"><a href="./contact.html">Contacto</a></li>
                    <li class="destinos"><a href="./destination.html">Destinos</a></li>
                </ul>
           
        </nav>
    </header>

    <h1 class="about-me"> Sobre mi</h1>

    <div class="about">
        <div class="content">
            <img class="imgme" src="../static/images/denise.jpg" alt="">
            <div class="text">
                <div> Hola !!!💕</div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa explicabo officiis nostrum
                    reiciendis, alias impedit ex atque delectus ullam odit iusto repudiandae tempore cupiditate
                    provident numquam laudantium? Incidunt, neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione fugiat porro, minima tempora
                    vel veritatis nam cum expedita. Repudiandae aperiam tempora repellat fuga debitis quas dolorem sed
                    nemo sequi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tenetur, id adipisci beatae
                    laboriosam pariatur officiis esse nisi quasi mollitia repudiandae optio enim, ullam quia eligendi
                    veritatis dolorem quod tempore!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nisi vitae velit cumque optio,
                    eveniet perferendis odio mollitia, voluptate non, nostrum nesciunt hic consequatur unde numquam
                    voluptas esse vel iusto?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa explicabo officiis nostrum
                    reiciendis, alias impedit ex atque delectus ullam odit iusto repudiandae tempore cupiditate
                    provident numquam laudantium? Incidunt, neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione fugiat porro, minima tempora
                    vel veritatis nam cum expedita. Repudiandae aperiam tempora repellat fuga debitis quas dolorem sed
                    nemo sequi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tenetur, id adipisci beatae
                    laboriosam pariatur officiis esse nisi quasi mollitia repudiandae optio enim, ullam quia eligendi
                    veritatis dolorem quod tempore!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nisi vitae velit cumque optio,
                    eveniet perferendis odio mollitia, voluptate non, nostrum nesciunt hic consequatur unde numquam
                    voluptas esse vel iusto?
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="redes-sociales-footer margen">
        <h3 class="seguinos">Siguenos</h3>
        <div class="redes-sociales-iconos">
            <ul>
                <li><a href="https://www.facebook.com/denise.garraza" target="white"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/denisegarraza/" target="black"><i
                        class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>
