<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
<div>
    <header class="banner">
        <nav class="nav">
            
                <ul class="menu">
                    <li class="inicio"><a href="index.html">Inicio</a></li>
                    <li class="sobremi"><a href="about.html">Sobre mi</a></li>
                    <li class="contacto"><a href="contact.html">Contacto</a></li>
                    <li class="destinos"><a href="destination.html">Destinos</a></li>
                </ul>
            
        </nav>
    </header>

    <div class="margen-form">
        <div class="form-contact">
            <div class="header">
                <h2> Completa el formulario </h2>
            </div>

            <form action="" class="contact margen" method="POST">
                <label for="nombres">Nombre</label>
                <input type="text" name="nombre" id="nombres">

                <label for="correo">Email</label>
                <input type="text" name="email" id="correo">

                <label for="mensaje">Escribe tu comentario</label>
                <textarea name="Escribe tu comentario" id="mensaje"></textarea>

                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="redes-sociales-footer margen">
        <h3 class="seguinos">Siguenos</h3>
        <div class="redes-sociales-iconos">
            <ul>
                <li><a href="https://www.facebook.com/denise.garraza" target="white"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/denisegarraza/" target="black"><i
                        class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</body>